.root a {
    @apply no-underline;
}

.error {
    composes: text-center from global;
    composes: px-8 from global;
    composes: py-0 from global;
}

.centerMode :global .slick-slide {
    @apply opacity-50
        duration-300;
}

.centerMode :global .slick-slide:hover {
    @apply opacity-100;
}

.centerMode :global .slick-slide.slick-current {
    @apply opacity-100;
}

.galleryItems {
    composes: items from '~@magento/venia-ui/lib/components/Gallery/gallery.module.css';
    composes: grid-cols-5 from global;
}

@media (max-width: 640px) {
    .galleryItems {
        composes: grid-cols-2 from global;
    }

    .centerModeSmall :global .slick-slide {
        @apply opacity-50
            duration-300;
    }

    .centerModeSmall :global .slick-slide:hover {
        @apply opacity-100;
    }

    .centerModeSmall :global .slick-slide.slick-current {
        @apply opacity-100;
    }
}

.carousel {
    composes: root;
    composes: root from '~@magento/pagebuilder/lib/ContentTypes/Slider/slider.module.css';
}

/*
 * Styles for submenu only
 */

.submenuGalleryItems {
    grid-area: auto;
    grid-template-columns: auto;

    /* 214px - width of items | 10px - width of gap | max 4 items */
    composes: gap-2.5 from global;
    composes: flex from global;
    composes: flex-wrap from global;
    composes: justify-between from global;
    composes: mb-0 from global;

    @apply max-w-[calc((214px*4)+(10px*3))];
}

/*
 * Product carousel
 */

.productsCarousel {
    @apply mr-[17px]
        mb-[28px]
        ml-[17px]
        pr-[7px];
    @apply ltr_mt-[13px];
    @apply rtl_mt-[10px]
        rtl_pr-[0];
    @apply lg_mr-0
        lg_mb-0
        lg_ml-0
        lg_w-[675px]
        lg_max-w-[87%];
    @apply ltr_lg_mt-[50px];
    @apply rtl_lg_mt-[10px];
}

.productsCarousel :global ul {
    @apply mt-[4px]
        p-0
        bg-white;
}

.productsCarousel :global ul li {
    @apply p-0
        flex
        h-auto
        flex-grow;
}

.productsCarousel :global ul > li > button {
    @apply p-0
        block
        w-full
        h-[3px]
        text-[0px]
        rounded-[2px]
        bg-green/[0.12]
        outline-none
        shadow-none
        cursor-pointer
        duration-300
        hover_bg-green-60;
}

.productsCarousel :global .slick-list {
    @apply mt-[5px]
        mr-[-5px]
        ml-[-5px];
}

.productsCarousel :global .slick-track {
    @apply ltr_ml-[-14vw];
    @apply ltr_md_ml-0;
    @apply rtl_ml-[14vw];
    @apply rtl_md_ml-0;
}

.productsCarousel :global .slick-slide {
    @apply pr-[5px]
        pl-[5px]
        w-[63vw]
        opacity-100;
    @apply visible !important;
}

.productsCarousel :global .slick-line {
    @apply flex;
    @apply rtl_mt-0;
    @apply lg_hidden;
    @apply rtl_lg_mt-[4px];
}

.productsCarousel :global .slick-line .slick-active button {
    @apply bg-green;
}

.productsCarousel :global [class*='item-actionWrapper'] {
    @apply mt-[5px];
    @apply rtl_text-right
        rtl_font-arabicText;
}

.productsCarousel :global [class*='item-actionsContainer'] {
    @apply mt-[10px]
        leading-none;
    @apply lg_mt-[16px];
    @apply rtl_lg_mt-[7px];
}

.productsCarousel :global [class*='item-images'] {
    padding-bottom: unset;

    @apply rtl_lg_pb-[17px];
}

.productsCarousel :global [class*='item-imageContainer'] {
    @apply relative;
    @apply lg_max-w-[550px];
}

.productsCarousel :global [class*='item-imageContainer']::before {
    content: '';

    @apply absolute
        top-0
        right-0
        bottom-0
        left-0
        z-[-1]
        min-h-[150px];

    background:
        linear-gradient(
            270deg,
            white,
            #e2e1e6
        ) 0 0/400% 400%;
    animation: element-loader 2s ease infinite;
}

.productsCarousel :global [class*='item-nameWrapper'] {
    @apply leading-none;
    @apply rtl_text-right
        rtl_font-arabicText;
}

.productsCarousel :global a[class*='item-name'] {
    @apply pb-1
        inline-block
        w-full
        text-[15px]
        text-green
        leading-none
        no-underline;
    @apply lg_w-auto
        lg_text-[18px]
        lg_hover_text-green;
    @apply rtl_font-arabicText;
    @apply rtl_lg_pb-[1px];
}

.productsCarousel :global [class*='item-name'] span {
    @apply lg_text-[18px];
}

.productsCarousel :global [class*='item-type'] {
    @apply rtl_pb-[1px]
        rtl_text-right;
    @apply rtl_lg_mb-[4px]
        rtl_lg_pb-0;
}

.productsCarousel :global [class*='item-price'] {
    @apply leading-[19px];
    @apply lg_mt-0
        lg_mr-0
        lg_mb-0
        lg_ml-0
        lg_text-[18px];
}

.productsCarousel :global [class*='addToCartButton'] {
    @apply text-[15px]
        leading-none;
    @apply ltr_text-left;
    @apply rtl_text-right
        rtl_font-arabicText;
    @apply lg_text-[18px];
}
