.root {
    grid-template-areas: 'before input after';
    grid-template-columns: auto 1fr auto;

    composes: inline-grid from global;
    composes: grid-flow-col from global;
    composes: w-full from global;
}

.input {
    grid-column: before-start / after-end;
    grid-row: input-start / input-end;

    composes: relative from global;
    composes: flex from global;
    composes: items-center from global;
}

.before,
.after {
    composes: flex from global;
    composes: justify-center from global;
    composes: items-center from global;
    composes: pointer-events-none from global;
    composes: z-10 from global;
}

.before:empty,
.after:empty {
    @apply hidden;
}

.before {
    grid-area: before;
}

.after {
    grid-area: after;

    composes: pr-4 from global;

    composes: rtl_pr-0 from global;
    composes: rtl_pl-4 from global;
}
