.root {
    composes: grid from global;
    composes: bg-inherit from global;
}

.title {
    composes: pb-[13px] from global;
    composes: pt-[3px] from global;
    composes: lg_pb-1 from global;
    composes: lg_pt-0 from global;
}

.text {
    composes: text-sm from global;
    composes: pb-[15px] from global;
    composes: lg_pb-[19px] from global;
    composes: leading-[18px] from global;
}
