.root {
    composes: grid from global;
    composes: place-items-center from global;
    composes: lg_min-h-screen-desktop from global;
}

.container {
    composes: w-full from global;
    composes: max-w-[442px] from global;
    composes: my-5 from global;
    composes: pt-3 from global;
    composes: pb-5 from global;
    composes: px-[18px] from global;
    composes: border-solid from global;
    composes: rounded-none from global;
    composes: border-gray from global;
    composes: bg-white from global;
    composes: lg_border from global;
}

.title {
    composes: pb-[13px] from global;
    composes: pt-[3px] from global;
    composes: lg_pb-1 from global;
    composes: lg_pt-0 from global;
}

.form {
    composes: grid from global;
    composes: gap-2.5 from global;
}

.description {
    composes: text-sm from global;
    composes: w-3/4 from global;
    composes: lg_w-3/5 from global;
    composes: pb-[15px] from global;
    composes: lg_pb-[19px] from global;
    composes: leading-[18px] from global;
}

.field {
    composes: pb-[11px] from global;
}

.input {
    composes: input from '@magento/venia-ui/lib/components/TextInput/textInput.module.css';
    composes: h-12 from global;
    composes: px-3.5 from global;
    composes: py-0 from global;
    composes: font-normal from global;
}

.inputLabel {
    composes: hidden from global;
}

.inputError {
    composes: input;
    composes: bg-red-5 from global;
}

.invalidTokenContainer {
    composes: pt-4 from global;
    composes: pb-12 from global;
}

.invalidToken {
    composes: border-l-4 from global;
    composes: border-solid from global;
    composes: border-red from global;
    composes: text-red from global;
    composes: px-4 from global;
    composes: rlt_border-l-0 from global;
    composes: rlt_border-r-4 from global;
}

.successMessage {
    composes: text-sm from global;
    composes: w-3/4 from global;
    composes: lg_w-3/5 from global;
    composes: leading-[18px] from global;
}
