.root {
    composes: fixed from global;
    composes: left-[50%] from global;
    composes: translate-x-[-50%] from global;
    composes: w-full from global;
    composes: px-4.5 from global;
    composes: py-3 from global;
    composes: lg_top-[100px] from global;
    composes: lg_max-w-[438px] from global;
    composes: lg_h-auto from global;
    composes: overflow-y-auto from global;
    composes: z-10 from global;
    composes: top-0 from global;
    composes: bottom-0 from global;
    composes: lg_bottom-[inherit] from global;
    composes: mt-[62px] from global;
    composes: lg_mt-0 from global;
    composes: h-screen from global;

    @apply bg-[#FAF9F9];
}

.iconRoot {
    composes: absolute from global;
    composes: right-[9px] from global;
    composes: top-[9px] from global;
    composes: lg_top-[7px] from global;
    composes: cursor-pointer from global;
    composes: rtl_right-auto from global;
    composes: rtl_left-[9px] from global;
}

.maskRootActive {
    composes: root_active from '@magento/venia-ui/lib/components/Mask/mask.module.css';
    composes: z-10 from global;
    composes: hidden from global;
    composes: lg_block from global;
}
