.root a {
    @apply no-underline;
}

.slider {
    composes: root;
    composes: root from '~@magento/pagebuilder/lib/ContentTypes/Slider/slider.module.css';
}

.slider :global ul {
    @apply mt-[4px]
        p-0
        bg-white;
}

.slider :global ul li {
    @apply p-0
        flex
        h-auto
        flex-grow;
}

.slider :global .slick-slide {
    @apply pr-[5px]
        pl-[5px]
        w-[63vw]
        opacity-100;
    @apply visible !important;
}

.centeredSlider:not(.sliderProduct) :global .slick-slide {
    @apply pr-[2.5px]
        pl-[2.5px];
    @apply lg_pr-[5px]
        lg_pl-[5px];
}

.slider :global ul > li > button {
    @apply p-0
        block
        w-full
        h-[2px]
        text-[0px]
        bg-green/[0.12]
        rounded-[2px]
        outline-none
        shadow-none
        cursor-pointer
        duration-300;
    @apply lg_hover_bg-green-60;
}

.slider :global .slick-slider .slick-list {
    @apply mt-[5px]
        mr-[-5px]
        ml-[-5px];
    @apply rtl_m-0;
    @apply md_mr-0
        md_ml-0;
    @apply xl_mr-[-7px]
        xl_ml-[-7px];
    @apply rtl_xl_ml-0
        rtl_xl_mr-[-7px];
}

.slider :global .slick-arrow {
    @apply lg_opacity-0
        lg_transition-opacity;
}

.slider:hover :global .slick-arrow {
    @apply lg_opacity-100;
}

.slider:not(.centeredSlider) :global .slick-track {
    @apply mr-[-5px]
        ml-[-12vw];
    @apply md_mr-0
        md_ml-0;
}

.slider:not(.centeredSlider) :global div.slick-track {
    @apply ml-[-15vw];
    @apply rtl_ml-[15vw];
    @apply lg_ml-[0];
    @apply rtl_lg_ml-[-7px];
}

.slider :global .slick-slide {
    @apply pr-[5px]
        pl-[5px]
        opacity-100;
    @apply visible !important;
    @apply md_w-full;
    @apply xl_pr-[7px]
        xl_pl-[7px]
        xl_w-auto;
}

.slider :global .slick-line {
    @apply mt-[34px]
        mb-[-10px]
        flex;
    @apply lg_pr-[52px]
        lg_pl-[52px];
    @apply ltr_lg_mt-[14px];
    @apply rtl_lg_mt-[14px];
}

.slider :global .slick-line .slick-active button {
    @apply bg-green;
}

.slider :global .slick-slider {
    @apply md_mr-0
        md_ml-0
        md_translate-x-0;
    @apply xl_mr-0
        xl_ml-[50%]
        xl_max-w-[1440px]
        xl_w-[calc(100vw-var(--scrollBarWidth))]
        xl_overflow-hidden
        xl_translate-x-[-50%];
    @apply rtl_xl_ml-0
        rtl_xl_mr-[50%]
        rtl_xl_translate-x-[50%];
}

.slider :global .slick-slider .slick-arrow {
    @apply w-[33px]
        h-[33px]
        top-[107.5px]
        z-[9];
    @apply lg_top-[114.5px];
}

.slider :global .slick-slider .slick-arrow::before {
    content: '';
}

.slider :global .slick-slider .slick-next,
.slider :global .slick-slider .slick-prev {
    @apply bg-white;
}

.slider :global .slick-slider .slick-next {
    @apply right-[50px];
    @apply rtl_right-[56px]
        rtl_left-[inherit];
}

.slider :global .slick-slider .slick-prev {
    @apply left-[50px];
    @apply rtl_left-[56px];
}

.centeredSlider {
    composes: overflow-hidden from global;
}

.centeredSlider :global .slick-slider .slick-arrow {
    @apply top-[55.5px]
        sm_top-[70px]
        md_top-[90px]
        lg_top-[100px]
        xl_top-[162.5px];
}

.sliderProduct :global .slick-slider {
    @apply ml-[16px];
    @apply rtl_mr-[16px]
        rtl_ml-0;
    @apply md_mr-0
        md_ml-0
        md_translate-x-0;
    @apply xl_m-auto
        xl_max-w-[1440px]
        xl_w-[calc(100vw-var(--scrollBarWidth))]
        xl_overflow-hidden;
    @apply rtl_xl_m-auto;
}

.sliderProduct :global div.slick-track {
    @apply ml-[-18vw];
    @apply rtl_ml-[18vw];
    @apply lg_ml-[0];
    @apply rtl_lg_ml-[-7px];
}

.sliderProduct :global .slick-line {
    @apply mt-[4px]
        mb-0;
}

.sliderProduct :global .slick-slide {
    @apply rtl_text-right;
}

.sliderProduct :global .slick-slider {
    @apply rtl_xl_translate-x-0;
}

.sliderProduct :global .slick-slide {
    @apply xl_pr-[5px]
        xl_pl-[5px];
}

.sliderProduct :global .slick-slider .slick-arrow {
    @apply top-[107px]
        md_top-[97px]
        lg_top-[132.5px]
        xl_top-[219px];
}
