.root {
    composes: grid from global;
    composes: grid-1.5 from global;
}

.heading {
    composes: uppercase from global;
    composes: text-pastelBrown from global;
}

.content dd {
    @apply leading-dd;
}

.telephone {
    composes: rtl_text-right from global;
    direction: ltr;
}
