.orderStatusContainer {
    composes: col-span-4 from global;
    composes: lg_col-span-5 from global;
    composes: grid from global;
    composes: grid-cols-2 from global;
    composes: lg_block from global;
    composes: mt-5 from global;
}
.root {
    composes: grid from global;
    composes: lg_gap-y-3.5 from global;
    composes: lg_grid-cols-4 from global;
    composes: grid-rows-4 from global;
    composes: lg_grid-rows-1 from global;
    composes: text-sm from global;
    composes: lg_text-base from global;
    composes: relative from global;
    composes: lg_mt-3 from global;
    composes: ml-7 from global;
    composes: rtl_mr-7 from global;
    composes: rtl_lg_mr-0 from global;
    composes: rtl_ml-0 from global;
    composes: lg_ml-0 from global;
}
.heading {
    composes: uppercase from global;
    composes: text-pastelBrown from global;
    composes: mb-3 from global;
}
.bold {
    composes: font-bold from global;
}
.status {
    composes: h-10 from global;
    composes: lg_h-auto from global;
}
.trackingLink {
    composes: underline from global;
    composes: text-sm from global;
}
.middleColumns {
    composes: lg_text-center from global;
}
.lastColumn {
    composes: lg_text-right from global;
    composes: lg_rtl_text-left from global;
}
.progressBar {
    composes: h-[137px] from global;
    composes: lg_h-[2px] from global;

    composes: float-left from global;
    composes: rtl_float-right from global;
    composes: lg_float-none from global;
    composes: rtl_lg_float-none from global;
}
.progressBar > div {
    @apply h-full !important;
}

@media (max-width: 1023px) {
    .progressBar > div > div {
        @apply w-0.5 !important;
    }
}
