.root {
    composes: relative from global;
    composes: flex-1 from global;
}

.menu {
    composes: w-full from global;
    composes: absolute from global;
    composes: border from global;
    composes: list-none	 from global;
    composes: border-t-0 from global;
    composes: border-solid from global;
    composes: border-green from global;
    composes: mt-[-1px] from global;
    composes: min-w-[200px] from global;
    composes: bg-white from global;
    composes: text-green-60 from global;
    composes: right-0 from global;
    composes: z-[2] from global;
    composes: text-left from global;
}

.menuItem {
    composes: text-sm from global;
    composes: leading-[19px] from global;
    composes: lg_hover_bg-gray-40 from global;
}

.sortButton {
    composes: root_lowPriority from '@magento/venia-ui/lib/components/Button/button.module.css';
    composes: lg_py-2 from global;
    composes: lg_px-4 from global;
    composes: lg_min-h-0 from global;
    composes: lg_border-1 from global;
    composes: min-w-[200px] from global;
    composes: lg_ml-0 from global;
    composes: lg_min-h-[42px] from global;
    composes: lg_normal-case from global;
}

.sortButton > span {
    @apply w-full;
}

.buttonContent {
    composes: items-center from global;
    composes: inline-grid from global;
    composes: gap-2 from global;
    composes: grid-flow-col	from global;
}

.desktopText {
    composes: hidden from global;
    composes: lg_flex from global;
}

.sortText {
    composes: flex-1 from global;
    composes: ltr_text-left from global;
    composes: rtl_text-right from global;
    composes: text-sm from global;
    composes: leading-6 from global;
}

.desktopIconWrapper {
    composes: root from '@magento/venia-ui/lib/components/Icon/icon.module.css';
    composes: scale-x-[10px] from global;
}

.sortValue {
    composes: font-bold from global;
}

.desktopIcon {
    composes: icon from '@magento/venia-ui/lib/components/Icon/icon.module.css';
}

.mobileText {
    composes: lg_hidden from global;
}
